$menuWidth: 400px;

$darkGray: rgb(22, 24, 25);
$lightGray: rgb(36, 37, 41);
$silver: rgb(233, 236, 239);
$primary: rgb(14, 189, 246);

$darkSilver: rgb(125, 143, 160);

$pink: rgb(255, 167, 167);
$yellow: rgb(247, 209, 94);
$blue: rgb(14, 189, 246);

$text: rgb(87, 87, 87);
$textActive: white;
