@import './colors.scss';

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-label {
  margin-bottom: 5px;
  font-weight: 500;
  color: white;
}

.input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  background-color: $lightGray;
  color: white;
  border-radius: 7px;
}
