@import './colors.scss';

.app {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: $darkGray;
  padding: 30px 10vw;
}

.app__content {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}
